@import "./responsive";

.layout {
    height: 100vh;
    max-width: 1366px; // Maximum width for large screens
    margin-left: auto; // Centers the layout horizontally
    margin-right: auto; // Centers the layout horizontally
    padding-left: 20px; // Adds padding on the left
    padding-right: 20px; // Adds padding on the right
    display: flex;
    flex-direction: column;
    
     @include lg {
        max-width: 1280px;
        background-color: orange;
      }
    
      @include md {
        max-width: 768px;
        background-color: blue;
      }
    
      @include sm {
        max-width: 640px;
        background-color: red;
      }

      .content{
        flex: 1;
      }
      
    }
  